/horizontal-dark-opaque.tint2rc
/horizontal-dark-transparent.tint2rc
/horizontal-light-opaque.tint2rc
/horizontal-light-transparent.tint2rc
/icon_and_text_1.tint2rc
/icon_and_text_2.tint2rc
/icon_and_text_3.tint2rc
/icon_and_text_4.tint2rc
/icon_only_1.tint2rc
/icon_only_2.tint2rc
/icon_only_3.tint2rc
/icon_only_4.tint2rc
/icon_only_6.tint2rc
/icon_only_7.tint2rc
/numix.tint2rc
/snap.jpg
/text_only_1.tint2rc
/text_only_2.tint2rc
/text_only_3.tint2rc
/text_only_4.tint2rc
/text_only_5.tint2rc
/text_only_6.tint2rc
/vertical-dark-opaque.tint2rc
/vertical-dark-transparent.tint2rc
/vertical-light-opaque.tint2rc
/vertical-light-transparent.tint2rc
